body {
    background-color: black;
    color: white;
    text-align: center;
}

#title {
    font-size: 100px;
}

p {
    margin: 0;
}

button {
    height: 100px;
    width: 300px;
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
    background-color: black;
    border: solid 2px white;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin: 10px;
}

button:hover{
    border: solid 2px pink;
    color: pink;
}